<!DOCTYPE html>
<html>
	<script src="./js/jquery-3.3.1.min.js"></script>

	<script src="./js/script.js"></script>
	<script type="text/javascript">
		setUpVariables({{allowed_attempts}}, {{allowed_rounds}}, {{dices_blocked}}, {{dice_number}});
	</script>
	<link rel="stylesheet" type="text/css" href="./css/style.css">

	<body>

		<div id="main-container">
			<div class="info-icon" onclick="manageHelpPopUp();">&nbsp;</div>
			<div class="volume-icon volume-icon--enabled" onclick="manageSound();">&nbsp;</div>
			<div class="container-style popup-container">
    			
    			<p style="font-size: 18px;"><b>General</b> is a game played by two players.
					Each player take turns rolling five dice. After each roll, the player chooses which dice (if any) to keep, and which to reroll.<br/>
					There's a total of 13 turns.
				</p>
				<p style="padding-top: 10px; text-decoration: underline;">Difficulty levels:</p>
				<p class="li-type-style"><b>Easy Luck!</b>: on this level you can keep from reroll some or all dices up to 3 times on a turn.</p>
				<p class="li-type-style"><b>Some Luck</b>: on this level you can keep of reroll a maximum of 3 or all dices up to 3 times on a turn.</p>
				<p class="li-type-style"><b>May the luck be with you!</b>: on this level you are not allowed to keep from reroll any of the dices. You can only reroll all the dices 2 times on a turn.</p>
				<p style="padding-top: 10px;">The winner is the player that, at the end of the final turn, has the most ammount of point.</p>
				<p>The points are calculated according to the following plays:</p>
				<p class="li-type-style"><b>Pair</b>: 2 dices with the same numbers - <b>10 points per pair</b></p>
				<p class="li-type-style"><b>Triple</b>: 3 dices with the same numbers - <b>25 points</b></p>
				<p class="li-type-style"><b>Poker</b>: 4 dices with the same numbers - <b>40 points</b></p>
				<p class="li-type-style"><b>Full-House</b>: a <span style="text-decoration: underline;">Pair</span> and a <span style="text-decoration: underline;">Triple</span> at the same time - <b>50 points</b></p>
				<p class="li-type-style"><b>Sequence</b>: 5 dices in sequence (ex: 1-2-3-4-5) - <b>60 points</b></p>
				<p class="li-type-style"><b>Yam</b>: 5 dices with the same numbers - <b>100 points</b></p>
			</div>
			<div id="start-container">
				<div>
					<p class="game-name">General</p>
				</div>
				<div id="set-players-container" class="clearfix">
					<form class="set-up-player-form container-style" id="form-player1" action="">
						<div>
							<label>Player 1</label>
							<input type="text" id="player1-first-name" placeholder="Insert your name">
							<input type="text" id="player1-last-name" placeholder="Insert your surname">
						</div>
						<ul class="dice_color_options">
							<li class="color_white" onclick="selectColor(this);">
								<figure class='front'></figure>
							</li>
							<li class="color_yellow" onclick="selectColor(this);">
								<figure class='top'></figure>
							</li>
							<li class="color_green" onclick="selectColor(this);">
								<figure class='left'></figure>
							</li>
							<li class="color_red" onclick="selectColor(this);">
								<figure class='right'></figure>
							</li>
							<li class="color_blue" onclick="selectColor(this);">
								<figure class='bottom'></figure>
							</li>
							<li class="color_black" onclick="selectColor(this);">
								<figure class='back'></figure>
							</li>
						</ul>
						<input id="submitPlayer1" class="secButton" type="button" value="ok" onclick="validatePlayer1();">
					</form>
					<form class="set-up-player-form container-style" id="form-player2" action="">
						<div>
							<label>Player 2</label>
							<input type="text" id="player2-first-name" placeholder="Insert your name">
							<input type="text" id="player2-last-name" placeholder="Insert your surname">
						</div>
							<ul class="dice_color_options">
								<li class="color_white" onclick="selectColor(this);">
									<figure class='front'></figure>
								</li>
								<li class="color_yellow" onclick="selectColor(this);">
									<figure class='top'></figure>
								</li>
								<li class="color_green" onclick="selectColor(this);">
									<figure class='left'></figure>
								</li>
								<li class="color_red" onclick="selectColor(this);">
									<figure class='right'></figure>
								</li>
								<li class="color_blue" onclick="selectColor(this);">
									<figure class='bottom'></figure>
								</li>
								<li class="color_black" onclick="selectColor(this);">
									<figure class='back'></figure>
								</li>
							</ul>
						<input id="submitPlayer2" class="secButton" type="button" value="ok" onclick="validatePlayer2();">
		
					</form>
				</div>
			</div>
			<div id="playing-container">
				<div id="resume-container">
					<div id="player1" class="container-style player ">
						<div class="player-logo">
							<p></p>
						</div>
						<div class="player-info">
							<div class="player-name">
								<p>
									<span>Player 1</span>
									<span class="name"></span>
									<span class="points"> |
										<span class="points-number">0</span> pt</span>
								</p>
							</div>
						</div>
						<div class="player-info">
							<div class="current-round">
		
								<ul>
		
								</ul>
							</div>
		
						</div>
		
					</div>
					<div id="player2" class="container-style player ">
						<div class="player-logo">
							<p></p>
						</div>
						<div class="player-info">
							<div class="player-name">
								<p>
									<span>Player 2 </span>
									<span class="name"></span>
									<span class="points"> |
										<span class="points-number">0</span> pt</span>
							</div>
						</div>
						<div class="player-info">
							<div class="current-round">
								<ul>
		
								</ul>
							</div>
						</div>
		
					</div>
				</div>
				<div class="dices-outer-container container-style">
					<div id="dices-container" onclick="manageDices();" class="clearfix">
						<div class="dices-group">
							{% for i in 1..dice_number %}
								<section class="dice-container">
									<div id="dice{{ i }}" class="show-front">
										<figure class="front"></figure>
										<figure class="back"></figure>
										<figure class="right"></figure>
										<figure class="left"></figure>
										<figure class="top"></figure>
										<figure class="bottom"></figure>
									</div>
								</section>
							{% endfor %}
						</div>
					</div>
					<div class="play-controls">
						<div class="play-screen interaction-screen">
							<p>Select a difficulty level</p>
							<div id="difficulty">
								<input type="radio" name="difficulty_option" id="easy" value="1">
								<label for="easy" class="selected" onclick="selectDifficulty(1);">Easy Luck!</label>
								<input type="radio" name="difficulty_option"  id="medium" value="2">
								<label for="medium" onclick="selectDifficulty(2);">Some Luck</label>
								<input type="radio" name="difficulty_option" id="hard" value="3"> 
								<label for="hard" onclick="selectDifficulty(3);">May the luck be with you!</label>
							</div>
							<a class="play-round button" onclick="playRound();">Play</a>
						</div>
						<div class="continue-screen interaction-screen">
							<div class="continue-screen-normal">
								<div>
									<p>You scored
										<span class="round-score"> 0</span> points!</p>
								</div>
								<a class="end-round button" onclick="nextPlayerScreen();">Keep</a>
								<a class="play-round button" onclick="lookDicesSceeen();">Lock some dices and try again</a>
								<a class="play-round button" onclick="tryAgain();">Try again</a>
							</div>
							<div class="continue-screen-look-dices">
								<p>What dices do you wanna lock !?</p>
								<div class="play_preview block_container">	
								</div>
								<a class="play-round button" onclick="tryAgain();">Try again</a>								
								<a class="play-round button" onclick="showTryResultScreen();">Back</a>
							</div>
						</div>

								

						<div class="score-table interaction-screen">
							<p>You have a total score of
								<span class="round-total-score"> 0</span> points!</p>
							<a class="next-player button" onclick="nextPlayer();">Next player</a>
						</div>
					</div>
				</div>
			</div>
			<div id="end-container" class="container-style">
				<p>
					<span id="winner"></span>, congrats!!! You won the game!</p>
				<a class="goToMenu button" onclick="goMenu();">New Game</a>
			</div>
			<div id="dashboard" class="clearfix">
			
				<div class="player1 dashboard container-style">
					<p>Player 1</p>
					<ul>
						<li class="head">
							<p class="round">Round</p>
							<p class="play_points">Points</p>
							<div class="play_set">
								<p>Play</p>
							</div>
						</li>
					</ul>
				</div>
					<div class="player2 dashboard container-style">
						<p>Player 2</p>
						<ul>
							<li class="head">
								<p class="round">Round</p>
								<p class="play_points">Points</p>
								<div class="play_set">
									<p>Play</p>
								</div>
							</li>
						</ul>
					</div>
			</div>
			<!-- Audio has a delay in Safari :( -->
			<audio preload="auto">
				<source src="https://alexerlandsson.com/uploads/codepen/dice/dice-sound.mp3"></source>
			</audio>
		
			<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	</body>
