/*MAIN*/
* {
	margin: 0;
}
.points {display:none}
#end-container p {
    padding: 150px 25px;
    text-align: center;
    font-size: 60px;
}
#end-container {display:none; min-height: 600px;text-align:center ; margin: 25px; background-image: url("/images/winner_bg.gif");}
#end-container p {color: honeydew;}
#main-container {
	position: relative;
	width: 100%;
	max-width: 1600px;
	min-width: 1024px;
	margin: 0 auto;
	padding: 30px;
}

#playing-container {display:none}
p.game-name {
    font-size: 190px;
    text-align: center;
    padding: 80px 15px;
}
.set-up-player-form {text-align:center;}
.set-up-player-form label {
    font-size: 45px;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}
.set-up-player-form input[type="text"] {
    width: calc(50% - 10px);
    float: left;
    margin: 5px;
    line-height: 40px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-color: transparent;
    border-radius: 10px;
    margin-bottom: 25px;
    background: #ffffff8a;
}
.set-up-player-form input[type="text"]:hover, .set-up-player-form input[type="text"]:active {
    background: white;
	border-color:transparent;
}
#set-players-container {overflow:visible}
.set-up-player-form {
    width: calc(50% - 50px);
    float: left;
    padding: 25px;
    margin: 25px;
	    min-height: 263px;
}
.secButton.disabled {
    pointer-events: none;
}
.secButton {
    margin: 0 auto;
    min-width: 300px;
    line-height: 45px;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 10px;
	cursor:pointer;
    border-color: #333333;
    background: #333333;
    color: white;
	display:inline-block;
	text-align:center;
}
.secButton:hover{background-color:transparent; color:#333}
.secButton:active {transform:scale(0.98)}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 2%;
	}
	50% {
		background-position: 100% 99%;
	}
	100% {
		background-position: 0% 2%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 2%;
	}
	50% {
		background-position: 100% 99%;
	}
	100% {
		background-position: 0% 2%;
	}
}
@-o-keyframes AnimationName {
	0% {
		background-position: 0% 2%;
	}
	50% {
		background-position: 100% 99%;
	}
	100% {
		background-position: 0% 2%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 2%;
	}
	50% {
		background-position: 100% 99%;
	}
	100% {
		background-position: 0% 2%;
	}
}
.clearfix {
	overflow: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/*Current player*/
div#resume-container {
	display: table;
	width: calc(100% + 50px);
	border-spacing: 25px;
	margin-left: -25px;
}

.container-style {
	background: #ffffffa1;
	box-shadow: 10px 10px 200px -15px #ffffff;
	border-radius: 15px;
}

.player-info {
	float: left;
	    width: calc(100% - 180px);
}
.name {
    text-transform: capitalize;
}
.player.playing {
	opacity: 1;
}
.player {
	height: 315px;
	    min-width: 500px;
	display: table-cell;
	padding: 25px;
	opacity: 0.5;
	vertical-align: top;
}
.player-name p > span:first-child {
	display: block;
	width: 100%;
	font-weight: 600;
}
.player-logo {
	display: inline-block;
	height: 132px;
	width: 132px;
	text-align: center;
	border-radius: 100%;
	background: rgba(239, 239, 239, 0.5);
	float: left;
	    text-transform: uppercase;
	margin-right: 40px;
	box-shadow: 10px 10px 200px -15px #585858;
}
.player-logo p {
	line-height: 132px;
	display: block;
	position: relative;
	font-size: 70px;
	margin: 0;
	color: #616161;
	font-weight: 800;
}
.player .current-round {
    display: none;
}
.player.playing .current-round {
    display: block;
}
.player-name p {
	font-size: 35px;
}
.current-round ul {
	list-style: none;
	font-size: 0px;
	padding: 0;
}

.current-round > ul {
	margin-left: -5px;
	margin-top: 25px;
}
.current-round ul li {
	float: left;
	width: 25px;
	height: 35px;
	line-height: 35px;
	background: white;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	margin: 5px;
}
.current-round > ul > li.current {
	background: #ffffff7a;
	font-weight: 600;
	width: auto;
	height: auto;
	display: inline-table;
}
.current-round ul li.done {
	background: #888888;
	color: white;
}
p.points {
	line-height: 50px;
	font-size: 30px;
}
.play-controls > div {
	display: none;
	vertical-align: middle;
}
/* DICES */
#dices-container {
	text-align: center;
	margin: 0 auto;
	overflow: visible;
}

#dices-container.disabled {
	pointer-events: none;
	cursor: initial;
}
.dices-group {
	display: table;
	margin: 0 auto;
}

.dices-outer-container {
	text-align: center;
	padding: 100px 15px;
	display: table;
	width: 100%;
}

.dices-outer-container > div {
	width: 100%;
	height: 260px;
	display: none;
}
section.dice-container * {
	box-sizing: content-box !important;
}

.dice-container {
    overflow: visible;
    display: inline-block!important;
    width: 200px;
    margin: 30px;
    height: 200px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 200px;
    cursor: -webkit-grab;
    cursor: grab;
    z-index: 999;
    transition: -webkit-transform 0.2s ease 0;
    transition: transform 0.2s ease 0;
    transition: transform 0.2s ease 0, -webkit-transform 0.2s ease 0;
}

.dice-container > div {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.dice-container > div figure {
	width: 198px;
	height: 198px;
	display: block;
	position: absolute;
	border-radius: 15px;
	text-align: center;
	line-height: 200px;
	font-size: 60px;
	opacity: 0.985;
}


/*Colors*/
.dice-container.white > div figure, 
.dice-container.blue > div figure, 
.dice-container.yellow > div figure, 
.dice-container.green > div figure, 
.dice-container.red > div figure {
	border: 1px solid #d4d4d4;
	box-shadow: inset 0 0 80px #d4d4d4;
	background-color: #fff;
}

.dice-container.yellow > div .front {
	transform: rotateY(0deg) translateZ(100px);
	background-image: url("../images/yellow/dice_one.png");
}
.dice-container.yellow > div .back {
	transform: rotateX(180deg) translateZ(100px);
	background-image: url("../images/yellow/dice_six.png");
}
.dice-container.yellow > div .right {
	transform: rotateY(90deg) translateZ(100px);
	background-image: url("../images/yellow/dice_four.png");
}
.dice-container.yellow > div .left {
	transform: rotateY(-90deg) translateZ(100px);
	background-image: url("../images/yellow/dice_three.png");
}
.dice-container.yellow > div .top {
	transform: rotateX(90deg) translateZ(100px);
	background-image: url("../images/yellow/dice_two.png");
}
.dice-container.yellow > div .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-image: url("../images/yellow/dice_five.png");
}

.dice-container.red > div .front {
	transform: rotateY(0deg) translateZ(100px);
	background-image: url("../images/red/dice_one.png");
}
.dice-container.red > div .back {
	transform: rotateX(180deg) translateZ(100px);
	background-image: url("../images/red/dice_six.png");
}
.dice-container.red > div .right {
	transform: rotateY(90deg) translateZ(100px);
	background-image: url("../images/red/dice_four.png");
}
.dice-container.red > div .left {
	transform: rotateY(-90deg) translateZ(100px);
	background-image: url("../images/red/dice_three.png");
}
.dice-container.red > div .top {
	transform: rotateX(90deg) translateZ(100px);
	background-image: url("../images/red/dice_two.png");
}
.dice-container.red > div .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-image: url("../images/red/dice_five.png");
}


.dice-container.green > div .front {
	transform: rotateY(0deg) translateZ(100px);
	background-image: url("../images/green/dice_one.png");
}
.dice-container.green > div .back {
	transform: rotateX(180deg) translateZ(100px);
	background-image: url("../images/green/dice_six.png");
}
.dice-container.green > div .right {
	transform: rotateY(90deg) translateZ(100px);
	background-image: url("../images/green/dice_four.png");
}
.dice-container.green > div .left {
	transform: rotateY(-90deg) translateZ(100px);
	background-image: url("../images/green/dice_three.png");
}
.dice-container.green > div .top {
	transform: rotateX(90deg) translateZ(100px);
	background-image: url("../images/green/dice_two.png");
}
.dice-container.green > div .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-image: url("../images/green/dice_five.png");
}

.dice-container.white > div .front {
	transform: rotateY(0deg) translateZ(100px);
	background-image: url("../images/black/dice_one.png");
}
.dice-container.white > div .back {
	transform: rotateX(180deg) translateZ(100px);
	background-image: url("../images/black/dice_six.png");
}
.dice-container.white > div .right {
	transform: rotateY(90deg) translateZ(100px);
	background-image: url("../images/black/dice_four.png");
}
.dice-container.white > div .left {
	transform: rotateY(-90deg) translateZ(100px);
	background-image: url("../images/black/dice_three.png");
}
.dice-container.white > div .top {
	transform: rotateX(90deg) translateZ(100px);
	background-image: url("../images/black/dice_two.png");
}
.dice-container.white > div .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-image: url("../images/black/dice_five.png");
}

.dice-container.black > div figure {
    border: 1px solid #d4d4d4;
    box-shadow: inset 0 0 49px #d4d4d4;
    background-color: rgba(0, 0, 0, 0.98);
}

.dice-container.black > div .front {
	transform: rotateY(0deg) translateZ(100px);
	background-image: url("../images/white/dice_one.png");
}
.dice-container.black > div .back {
	transform: rotateX(180deg) translateZ(100px);
	background-image: url("../images/white/dice_six.png");
}
.dice-container.black > div .right {
	transform: rotateY(90deg) translateZ(100px);
	background-image: url("../images/white/dice_four.png");
}
.dice-container.black > div .left {
	transform: rotateY(-90deg) translateZ(100px);
	background-image: url("../images/white/dice_three.png");
}
.dice-container.black > div .top {
	transform: rotateX(90deg) translateZ(100px);
	background-image: url("../images/white/dice_two.png");
}
.dice-container.black > div .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-image: url("../images/white/dice_five.png");
}

.dice-container.blue > div .front {
	transform: rotateY(0deg) translateZ(100px);
	background-image: url("../images/blue/dice_one.png");
}
.dice-container.blue > div .back {
	transform: rotateX(180deg) translateZ(100px);
	background-image: url("../images/blue/dice_six.png");
}
.dice-container.blue > div .right {
	transform: rotateY(90deg) translateZ(100px);
	background-image: url("../images/blue/dice_four.png");
}
.dice-container.blue > div .left {
	transform: rotateY(-90deg) translateZ(100px);
	background-image: url("../images/blue/dice_three.png");
}
.dice-container.blue > div .top {
	transform: rotateX(90deg) translateZ(100px);
	background-image: url("../images/blue/dice_two.png");
}
.dice-container.blue > div .bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background-image: url("../images/blue/dice_five.png");
}



.dice-container > div.show-front {
	transform: translateZ(-100px) rotateY(0deg);
}
.dice-container > div.show-back {
	transform: translateZ(-100px) rotateX(-180deg);
}
.dice-container > div.show-right {
	transform: translateZ(-100px) rotateY(-90deg);
}
.dice-container > div.show-left {
	transform: translateZ(-100px) rotateY(90deg);
}
.dice-container > div.show-top {
	transform: translateZ(-100px) rotateX(-90deg);
}
.dice-container > div.show-bottom {
	transform: translateZ(-100px) rotateX(90deg);
}

.dice-container > div.show-same {
	transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
}
.continue-screen.interaction-screen div p,
.score-table.interaction-screen > p {
	font-size: 60px;
}
/* Base Style */

body * {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: auto;
	overflow: auto;

	margin: 0;
	color: #333;
	font-family: "Raleway", sans-serif;

	background: linear-gradient(
		192deg,
		#55efc4,
		#81ecec,
		#74b9ff,
		#a29bfe,
		#dfe6e9,
		#00b894,
		#00cec9,
		#0984e3,
		#6c5ce7,
		#b2bec3,
		#ffeaa7,
		#fab1a0,
		#ff7675,
		#fd79a8,
		#636e72,
		#fdcb6e,
		#e17055,
		#e17055,
		#d63031,
		#e84393
	);
	background-size: 4000% 4000%;

	-webkit-animation: AnimationName 59s ease infinite;
	-moz-animation: AnimationName 59s ease infinite;
	-o-animation: AnimationName 59s ease infinite;
	animation: AnimationName 59s ease infinite;
}
.button {
    display: inline-block;
    width: 100%;
    max-width: 810px;
    height: 80px;
    margin: 20px;
    background: #ffffffc7;
    line-height: 80px;
    font-size: 35px;
    border-radius: 15px;
    box-shadow: 10px 10px 200px -15px #a9a9a9;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
}

.button:active {
	transform: scale(0.9);
	transition: all 0.5s;
}

.button:hover {
	transform: scale(1.05);
	transition: all 0.5s;
}



.play_preview figure, .dice_color_options figure {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid #d4d4d4;
    box-shadow: inset 0 0 30px #d4d4d4;
    border-radius: 7px;
    text-align: center;
	line-height: 200px;
	    margin: 5px;

    font-size: 60px;
    background-color: #fff;
    opacity: 0.985;
    background-size: 50px;
}

.play_preview .front {
	background-image: url("../images/black/dice_one.png");
}
.play_preview .back {
	background-image: url("../images/black/dice_six.png");
}
.play_preview .right {
	background-image: url("../images/black/dice_four.png");
}
.play_preview .left {
	background-image: url("../images/black/dice_three.png");
}
.play_preview .top {
	background-image: url("../images/black/dice_two.png");
}
.play_preview .bottom {
	background-image: url("../images/black/dice_five.png");
}

.dice_color_options .front {
	background-image: url("../images/black/dice_one.png");
}
.dice_color_options .back {
	background-image: url("../images/white/dice_six.png");
	background-color: black;
}
.dice_color_options .right {
	background-image: url("../images/red/dice_four.png");
}
.dice_color_options .left {
	background-image: url("../images/green/dice_three.png");
}
.dice_color_options .top {
	background-image: url("../images/yellow/dice_two.png");
}
.dice_color_options .bottom {
	background-image: url("../images/blue/dice_five.png");
}
.dice_color_options {
    display: block;
    width: 100%;
	list-style: none;
	    float: left;
	margin-bottom: 20px;
	    padding-left: 0;
}
ul.dice_color_options li {
    display: inline-block;
    margin: 5px 10px;
}
ul.dice_color_options li:hover {
    opacity: 0.8;
    cursor: pointer;
}
ul.dice_color_options li:active {
 transform: scale(0.9);
}
.dice_color_options li.disabled {
    opacity: 0.3;
    pointer-events: none;
}
.dice_color_options li.selected figure {
    /* border: 1px solid white; */
    box-shadow: 0px 0px 14px 12px #ffffff;
}
.dice_color_options.selected li.selected {pointer-events: none}
.dice_color_options.selected li:not(.selected) {display: none}

/*Dashboard*/
#dashboard {
	display:none;
	overflow:visible;
	margin-top: -25px;
	    border-spacing: 25px;
}
.dashboard {
    width: calc(50% - 50px);
    display:table-cell;
        padding: 25px 10px;
    margin: 25px;
	min-height: 263px;
}
.dashboard > p {
    font-size: 45px;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}
.dashboard ul {
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    margin: 0;
	padding: 0;
	    border-spacing: 15px;
}
.dashboard li {
	display: table-row;
	    background: #ffffff8a;
}
.dashboard ul li > *:last-child {
    width: 60%;
}
.dashboard ul li > * {
    display: table-cell;
	width: 20%;
	    vertical-align: middle;
	padding: 10px;
	    border-radius: 9px;
    overflow: hidden;
}

.dashboard ul li.head > * {
    margin-bottom: 15px;
}
.dashboard ul li.head p {
    font-weight: 900;
}

#playing-container {
    margin: 25px;
}

.block_container figure {
	position: relative;
	cursor:pointer;
}
.block_container figure:hover {
	opacity: 0.8;
}
.block_container figure:active {
	transform: scale(0.98);
}
.block_container .blocked::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.6);
    border-radius: 3px;
}

.continue-screen-look-dices p {
    margin-bottom: 40px;
}

.block_container {
    margin-bottom: 40px;
}

.dices-group section div.blocked figure::after {
    content: "";
    top: 0;
    bottom: 0;
    background: red;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0.5;
    border-radius: 14px;
}


.dices-group section div.blocked figure::before {
    content: "";
    top: 0;
    bottom: 0;
    background: white;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0.3;
    border-radius: 14px;
}

.info-icon{
	width: 35px;
    height: 35px;
    position: absolute;
    right: 55px;
    top: 10px;
    background-image: url(/images/info.png);
    background-repeat: no-repeat;
    background-size: 35px;
}

.info-icon:hover{ cursor: pointer; }

.popup-container {
    display: none;
    position: absolute;
    width: 50%;
    right: 55px;
    top: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 1;
    z-index: 2000;
    padding: 30px;
}

.container-style.popup-container p {
    line-height: 140%;
}

.popup-container p.li-type-style{
	padding: 3px;
}

.volume-icon{
	width: 35px;
    height: 35px;
    position: absolute;
    right: 110px;
    top: 10px;
    background-repeat: no-repeat;
    background-size: 35px;
}

.volume-icon:hover{
	cursor: pointer;
}

.volume-icon--muted{
	background-image: url(/images/mute.png);
}

.volume-icon--enabled{
	background-image: url(/images/sound.png);
}

.play-screen.interaction-screen p {
    font-size: 40px;
    margin-bottom: 40px;
}
#difficulty {
    margin-bottom: 40px;
}

#difficulty label {
    margin: 0 14px;
    display: inline-block;
    font-size: 25px;
    padding: 20px 33px;
    border-radius: 13px;
    background: #5d5d5dc7;
    cursor: pointer;
    color: white;
    transition: all 0.4s;	
}

#difficulty label.selected {
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: default;
}

#difficulty input {
    display: none;
}

#difficulty label:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}